$border-radius: 5px !default;
$border-color: hsl(219, 20%, 40%) !default;
$border: 2px solid $border-color !default;

$font-family: Helvetica, Arial, sans-serif !default;
$font-color: hsl(219, 20%, 91%) !default;

$subtitle-color: hsl(219, 20%, 50%) !default;
$subtitle-weight: normal !default;

$background-color: hsl(219, 50%, 15%) !default;
$color-pallet: (
        "green": hsl(94, 50%, 59%),
        "red": hsl(5, 50%, 59%),
        "blue": hsl(219, 50%, 59%),
        "grey": hsl(219, 20%, 70%),
) !default;

$flex-gap-base: 5px !default;
$grid-gap-base: 10px !default;
$margin-base: 10px !default;
$padding-base: 10px !default;

$transition-property: (
  background,
  color,
  opacity,
  background-color
) !default;
$transition-duration: 300ms !default;
$transition-timing: ease-in-out !default;
$transition: null !default;
@for $i from 1 through length($transition-property) {
  $transition: $transition + " " + nth($transition-property, $i) + " " + $transition-duration + " " + $transition-timing + ", ";
}
$transition: unquote($transition);

$card-padding: 5px !default;
$card-border-radius: $border-radius !default;
$card-border: $border !default;
$card-hover-background: hsl(219, 20%, 30%) !default;
$card-transition: $transition !default;

$button-padding: $padding-base !default;
$button-border-radius: $border-radius !default;
$button-border: $border !default;
$button-border-darken: 10% !default;
$button-text-color: hsl(219, 50%, 15%) !default;
$button-text-light: hsl(219, 50%, 90%) !default;
$button-default-background: hsl(219, 20%, 70%) !default;
$button-hover-darken: 7.5% !default;

$quiz-card-max-width: 300px !default;
$quiz-card-min-height: 200px !default;

$question-preview-min-height: 45px !default;
$question-preview-padding: 10px !default;

$modal-padding: $padding-base !default;
$modal-section-padding: 1.5*$padding-base !default;
$modal-border-radius: $border-radius !default;
$modal-border: $border !default;
$modal-border-color: darken($border-color, 15%) !default;
$modal-background: $background-color !default;
$modal-min-width: 400px !default;
$modal-max-width: 500px !default;

$input-flex-gap: 1.5*$flex-gap-base !default;
$input-label-flex-basis: 100px !default;
$input-label-color: $font-color !default;
$input-padding: $padding-base !default;
$input-border-radius: $border-radius !default;
$input-border: $border !default;
$input-background: $background-color !default;
$input-placeholder-color: $subtitle-color !default;
$input-font-size: 0.8rem !default;
$input-font-color: $font-color !default;